

  {{#each InvoiceHeader}}
<h3>Sales Invoice {{no}}</h3>

<table>
    <tr>
        <td>
            <strong>Company Details</strong>
            <dl>
                <dt>Name</dt>
                <dd><strong>Acme Corporation</strong></dd>
                <dt>Industry</dt>
                <dd>Software Development</dd>
                <dt>Address</dt>
                <dd>Field 3, Moon</dd>
                <dt>Phone</dt>
                <dd>123.4456.4567</dd>
                <dt>Email</dt>
                <dd>
    </tr>
</table>

  {{/each}}



<style>


body {
  background: #e4e4e4;
   font-size:0.8em !important; 
}

</style>